body{
	margin: 0;
	padding: 0;
	font-family: "Circe";
	font-size: 17px;
	letter-spacing: 0.1px;
}

.container {
	width: 1325px;
	height: auto;
	margin: 0 auto;
	padding: 0;
}

.header {
	height: 665px;
}

.header a {
	text-decoration: none;
	color: inherit;
}

.header-top {
	height: 115px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
}

.navigation,
.contacts {
	width: 437px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.navigation {
	margin-left: 42px;
	text-transform: uppercase;
}

.social {
	display: flex;
	height: 26px;
	width: 110px;
	justify-content: space-between;
	margin-left: 100px;
}

.phone {
	margin-right: 20px;
}

.navigation li {
	list-style: none;
	font-size: 12px;
}

.header-main {
	background:  lightblue url("../img/sea.png") no-repeat;
	background-size: cover;
	height: 550px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header-main .hat{
	font-family: "Circe-Bold";
	font-size: 29px;
	line-height: 1.07;
	color: white;
	width: 458px;
	text-align: center;
	margin-top: 160px;
}

.booking-options {
	width: 744px;
	height: 54px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.booking-options form {
	display: flex;
	margin: 0;
	padding: 0;
	height: 100%;
	border-radius: 100px;
	justify-content: center;
	background-color: white;
	position: relative;
	overflow: hidden;
}

.field input,
.field select {
	border: 0;
	width: 250px;
	height: 100%;
	box-sizing: border-box;
	position: relative;
	padding-left: 30px;
}

.field input {
	border-right: 3px solid grey;
}

input::after {
	position: absolute;
	content: "";
	display: inline-block;
	width: 13px;
	height: 14px;
	top: 20px;
	right: 10px;
	background-image: url("../img/calendar.png");
}

.last::after {
	position: absolute;
	content: "";
	display: inline-block;
	width: 13px;
	height: 13px;
	top: 20px;
	right: 15px;
	background: url("../img/arrow.png") no-repeat;
}

.field:last-child {
	border-right: none;
}

.header-main button,
.padding-bottom button {
	width: 270px;
	height: 40px;
	border-radius: 100px;
	background-image: linear-gradient(118deg, #96d9ff, #3898f0);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	font-family: "Circe-Bold";
	font-size: 17px;
}

.header-main button:hover,
.padding-bottom button:hover {
	background-image: linear-gradient(298deg, #96d9ff, #3898f0);
}

button:active {
	background-color: #96d9ff;
	opacity: 0.7;
}




/*стили мэйн*/




.main {
	background-color: #f3f3f3;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Circe-Light";
}

.main h2 {
	display: inline-block;
	font-family: "Circe-Bold";
	font-size: 17px;
	letter-spacing: 0.1px;
	text-decoration: underline;
	margin-top: 35px;
	margin-bottom: 40px;
	width: 260px;
	text-align: center;
	position: relative;
}

.main a {
	color: black;
}

.before::before {
	position: absolute;
	content: "";
	width: 14px;
	height: 14px;
	background-repeat: no-repeat;
	background-image: url("../img/arrow.png");
	top: 7px;
	left: 20px;
	transform: rotate(90deg);
}

.main-inner {
	width: 1200px;
	background-color: white;
	margin-bottom: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-inner-block {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.left-side {
	width: 45%;
	margin-left: 35px;
}

.main-inner-block h3 {
	font-size: 17px;
}

.icons {
	margin-top: 20px;
	margin-bottom: 20px;
}

.right-side {
	width: 45%;
	margin-right: 35px;
}

.main-inner-block a {
	font-family: "Circe";
	font-size: 13px;
	color: #0541a5;
	text-decoration: none;
}

.right-side a:hover {
	text-decoration: underline;
}

.mini-photo button {
	margin: 0;
	padding: 0;
	border-width: 0;
	height: 65px;
}

.rate {
	padding-top: 50px;
}

.full-photo {
	margin-top: 70px;
}

.right-side .table {
	background-color: #f0f0f0;
	font-size: 14px;
	width: 520px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
}

.table-container {
	padding-top: 50px;
}

.table tr:nth-child(2n) {
	background-color: #fff;
}

.table tr td {
	padding: 10px;
	border-width: 0;
	font-family: "Circe-Bold";
}

.table tr:first-child td{
	font-family: "Circe";
}

.table tr td:first-child{
	font-family: "Circe";
}

.location {
	padding-top: 50px;
}



/* стили second-page */



.main-inner-hat {
	width: 540px;
	height: 160px;
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 50px;
}

.main-inner-hat:after {
	display: inline-block;
	content: "";
	height: 2px;
	width: 375px;
	background-color: #d6d6d6;
	margin-top: 30px;
}

.main-inner-hat h1 {
	margin: 0;
	padding: 0;
	font-family: "Circe-Bold";
	font-size: 29px;
	margin-bottom: 10px;
}

.main-inner-hat-text {
	text-align: center;
}

.main-inner-hat-text a {
	text-decoration: none;
	color: #2675b2;
}

.main-inner-hat-text a:hover {
	text-decoration: underline;
}

.room-price {
	margin-top: 20px;
	font-family: "Circe";
}

.price-value {
	display: inline-block;
	font-family: "Circe-Bold";
	font-size: 29px;
	margin: 0 5px 0 5px;
}

.space-bottom {
	margin-bottom: 50px;
}

.padding-bottom {
	padding-bottom: 60px;
}




















@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe/Circe-Regular.eot');
	src: local('../fonts/Circe/Circe'), local('../fonts/Circe/Circe-Regular'),
		url('../fonts/Circe/Circe-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Circe/Circe-Regular.woff') format('woff'),
		url('../fonts/Circe/Circe-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Circe-Light';
	src: url('../fonts/Circe/Circe-Light.eot');
	src: local('../fonts/Circe/Circe Light'), local('../fonts/Circe/Circe-Light'),
		url('../fonts/Circe/Circe-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Circe/Circe-Light.woff') format('woff'),
		url('../fonts/Circe/Circe-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Circe-Bold';
	src: url('../fonts/Circe/Circe-Bold.eot');
	src: local('../fonts/Circe/Circe Bold'), local('../fonts/Circe/Circe-Bold'),
		url('../fonts/Circe/Circe-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Circe/Circe-Bold.woff') format('woff'),
		url('../fonts/Circe/Circe-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
